.beer-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid grey;
}

.item-wrapper {
    margin: 20px 50px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.content-row{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    line-height: 20px;
}

.content-row > * {
    font-size: 20px;
}

.content-question{
    font-weight: 500;
    text-transform: capitalize;
}

.content-answer {
    text-align: right;
}